
### Authors: Ismael Sandoval Aguilar, Edgar Iván Hinojosa Saldaña.
#### Created: 27.10.2022

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import htmlToDataFrame as td
import numpy as np
import re
df = td.toDataFrame('https://www.misprofesores.com/escuelas/UANL-FCFM_2263')
import requests 
from bs4 import BeautifulSoup as bs
import json
import re
import pandas as pd

In [3]:
new_names = {
    'i' : 'ID', 
    'n' : 'Nombre', 
    'a' : 'Apellido', 
    'd' : 'Departamento / Facultad',
    'm' : '# de calif.',
    'c' : 'Promedio'
    }

df = df.rename(columns = new_names)

new_types = {
    'ID' : 'int',
    '# de calif.' : 'int',
    'Promedio' : 'float'
}

df = df.astype(new_types)

In [4]:
# Limpiar valores nulos, eliminar columnas irrelevantes
null_values = df.loc[df["Promedio"].isnull()]
df = df.dropna()

In [5]:
df['Razon'] = df['# de calif.'] / df['Promedio']

In [6]:
resultados_max = df.loc[
    (df["Promedio"] > df["Promedio"].mean()) & 
    (df["# de calif."] > df["# de calif."].mean()) & 
    (df['Razon'] > df['Razon'].mean())]

resultados_max = resultados_max.sort_values(by = "Razon", ascending = False).reset_index(drop = True).head(10)
resultados_max = resultados_max.sort_values(by = 'Promedio', ascending = False).reset_index(drop = True).head(10)

resultados_max

,ID,Nombre,Apellido,Departamento / Facultad,# de calif.,Promedio,Razon
0,74331,Diego Gerardo,Gómez Pérez,UANL- FCFM,50,9.9000,5.050505
1,62548,adriana,arias,algebra,49,9.4286,5.196954
2,57318,Yazmany Jahaziel,Guerrero Ceja,Teoría de Autómatas,68,9.4265,7.213706
3,132288,Abraham Benito,Barragan Amigón,UANL,52,9.1538,5.680701
4,144843,Rigoberto,Rodríguez Martínez,FCFM,51,9.0392,5.642092
5,107316,Alfredo,Tlahuice Flores,Fisica,58,8.8621,6.544724
6,70358,Abigail,Contreras Mendoza,Matemáticas,51,8.1176,6.282645
7,82557,Jonathan Ricardo,Moller Garza,UANL - FCFM,80,8.0625,9.922481
8,73401,Victoria Celeste,Rodriguez,matemáticas,49,7.9388,6.172217
9,56579,Osvaldo Habib,González González,Programación,43,7.8372,5.486653

In [7]:
resultados_min = df.loc[
    (df["Promedio"] < df["Promedio"].mean()) & 
    (df["# de calif."] > df["# de calif."].mean()) & 
    (df['Razon'] > df['Razon'].mean())]

resultados_min = resultados_min.sort_values(by = "Razon", ascending = False).reset_index(drop = True).head(10)
resultados_min = resultados_min.sort_values(by = 'Promedio')

resultados_min

,ID,Nombre,Apellido,Departamento / Facultad,# de calif.,Promedio,Razon
0,78882,Jose Luis,Montoya,FCFM,70,2.7714,25.257992
3,107176,Homero Enrique,De la Fuente Garcia,FCFM/Matematicas,51,3.4706,14.694865
5,79063,Alejandro,Villarreal Mojica,FCFM BDPM/Progra2,37,3.5676,10.371118
1,34766,Sofía Herminia,De La Paz,Zúñiga,75,4.0000,18.750000
4,75187,Alejandro,Lara,FCFM / Fisica,50,4.4800,11.160714
2,62512,Rosa Alicia,Gámez de la Garza,Matemáticas,78,4.6923,16.622978
9,95110,Guillermo,Sanchez,FCFM,44,4.7500,9.263158
8,56302,Blanca Patricia,Sánchez Juárez,Circuitos Digitales,51,5.4706,9.322561
7,56416,eva,mirella,matematicas varias,64,6.3281,10.113620
6,78772,Gilberto,Tenorio,FCFM,70,6.8429,10.229581

In [8]:
# Indice del promedio mas alto
promedio_max = df["Promedio"].idxmax()
promedio_max

12

In [9]:
# Indice del numero de valoraciones mas alto
num_max = df["# de calif."].idxmax()
num_max

360

In [10]:
estadistica_descriptiva = df[['# de calif.', 'Promedio', 'Razon']].describe()